// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "demo.css";

@import "material/material-kit.min.css";


.my-nav .nav-item {
    margin: 0 !important;
    padding: 2.5px;
}

.my-card {
    cursor: pointer;
    transition: all .6s;
}

.my-card:hover {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
}
.border-magenta{
    border-color: #8b00ff; /* Цвет границы */
    border: 2px solid; /* Стиль границы */
    }

.oswald{
    font-family: 'Oswald', sans-serif;
}

.icon_phone:before {
    width: 22px;
    height: 32px;
    margin: 1px 0 0 -40px;
    background-position: -406px -65px;
}

.icon_point:before {
    width: 24px;
    height: 32px;
    margin: 0 0 0 -41px;
    background-position: -349px -65px;
}

.icon:before {
    display: block;
    float: left;
    content: '';
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
}

.contacts-block {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    display: inline-block;
    margin-bottom: 1.5rem;
}

.navbar-brand {
    font-family: Roboto-Black, sans-serif;
    font-size: 1.40rem !important;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto-Black";
    src: url("../fonts/Roboto-Black.ttf");
}
